  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>University of New Haven | Department of Chemistry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static '/css/docs.css' %}" rel="stylesheet">
    <link href="{% static '/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static '/js/google-code-prettify/prettify.css' %}" rel="stylesheet">
    <link href="{% static '/css/flexslider.css' %}" rel="stylesheet">
    <link href="{% static '/css/sequence.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link href="{% static '/color/default.css' %}" rel="stylesheet">
    <link href="{% static '/css/popup.css' %}" rel="stylesheet">

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{% static '/ico/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static '/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static '/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static '/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static '/ico/apple-touch-icon-57-precomposed.png' %}">

  </head>

  <body>
    <header>
      <!-- Navbar
      ================================================== -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- logo -->
            <a class="brand logo" href="{% url 'home' %}"><img src="{% static '/img/logo.png' %}" alt=""></a>
            <!-- end logo -->
            <!-- top menu -->
            <div class="navigation">
              <nav>
                <ul class="nav topnav">
                  <li class="dropdown active">
                    <a href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="dropdown">
                    <a href="#">Academic Programs</a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'bschemistry' %}">BS Chemistry</a></li>
                      <li><a href="{% url 'bschemical' %}">BS Chemical Engineering</a></li>
                      <li><a href="{% url 'mschemistry' %}">MS Chemistry</a></li>
                      <li><a href="{% url 'msbiomedical' %}">MS Biomedical Engineering</a></li>
                      <li><a href="{% url 'certificateprograms' %}">Certificate Programs</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#">People</a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'faculty' %}">Faculty</a></li>
                      <li><a href="{% url 'staff' %}">Staff</a></li>
                      <li><a href="{% url 'student' %}">Student</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#">Research</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown"><a href="{% url 'errorpage' %}">By Areas</a>
                        <ul class="dropdown-menu sub-menu">
                          <li><a href="{% url 'research-area-chemistry' %}">Chemistry</a></li>
                          <li><a href="#">Chemical Engineering</a></li>
                          <li><a href="#">Biomedical Engineering</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a href="{% url 'research-direction-sustainability' %}">By Direction</a>
                        <ul class="dropdown-menu sub-menu">
                          <li><a href="{% url 'research-direction-sustainability' %}">Sustainability Energy</a></li>
                          <li><a href="#">Medical</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#">Teaching Events</a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'seminars' %}">Course Announcements</a></li>
                      <li><a href="{% url 'seminars' %}">Seminars</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#">Resources</a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'labfacility' %}">Lab Facility</a></li>
                      <li><a href="{% url 'errorpage' %}">Computing</a></li>
                      <li><a href="{% url 'errorpage' %}">Student Services</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="{% url 'errorpage' %}">News</a>
                  </li>
                  <li>
                    <a href="{% url 'contactpage' %}">About & Contact</a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- end menu -->
          </div>
        </div>
      </div>
    </header>
    {% block content %}

    {% endblock %}
    <!-- Footer
   ================================================== -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="widget">
              <ul class="regular">
                <h6>DEPARTMENT</h6>
                <li><a href="#">Safety</a></li>
                <li><a href="#">Finance & Research</a></li><br>
                <h6>LIBRARY</h6>
                <li><a href="#">Safety</a></li>
                <li><a href="#">Finance & Research</a></li><br>
                <h6>ACADEMICS</h6>
                <li><a href="#">Safety</a></li>
                <li><a href="#">Finance & Research</a></li><br>
              </ul>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <ul class="regular">
                <h6>OPPORTUNITIES</h6>
                <li><a href="#">Jobs @ CCB</a></li>
                <li><a href="#">Corporate & Academic Recruiting</a></li>
                <li><a href="#">Apply</a></li><br>
                <h6>ABOUT CCB</h6>
                <li><a href="#">News & Events</a></li>
                <li><a href="#">Calender</a></li>
                <li><a href="#">Directions</a></li>
                <li><a href="#">Digital Accessibility Policy</a></li>
                <li><a href="#">CCB Community Committe</a></li><br>
              </ul>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <!-- logo -->
              <a class="brand logo" href="{% url 'home' %}">
                              <img src="{% static 'img/University_of_New_Haven_logo.png' %}" alt="" style="width: 130px; height: 110px;">
                          </a>
              <!-- end logo -->
              <address>
                              <strong>University of New Haven</strong><br>
                               300 Boston Post Rd.<br>
                               West Haven, CT 06516<br>
                              <abbr title="Phone">P:</abbr> (123) 456-7890
                          </address>
            </div>
            <div>
              <h5>Admin Login</h5>
              <button class="adminbutton" style="vertical-align:middle"><span><a href="{% url 'adminlogin' %}" target="_blank">Login</a></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="verybottom">
        <div class="container">
          <div class="row">
            <div class="span6">
              <p>
                &copy; University of New haven - All right reserved
              </p>
            </div>
            <div class="span6">
              <div class="credits">
                Designed by <a href="https://www.unh.com/">University of New Haven</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript Library Files -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/jquery.easing.js' %}"></script>
    <script src="{% static '/js/google-code-prettify/prettify.js' %}"></script>
    <script src="{% static '/js/modernizr.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/jquery.elastislide.js' %}"></script>
    <script src="{% static '/js/sequence/sequence.jquery-min.js' %}"></script>
    <script src="{% static '/js/sequence/setting.js' %}"></script>
    <script src="{% static '/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static '/js/application.js' %}"></script>
    <script src="{% static '/js/jquery.flexslider.js' %}"></script>
    <script src="{% static '/js/hover/jquery-hover-effect.js' %}"></script>
    <script src="{%static '/js/hover/setting.js' %}"></script>
    <!-- Template Custom JavaScript File -->
    <script src="{% static '/js/custom.js' %}"></script>
    <script src="{% static '/js/popup.js' %}"></script>
  </body>
  </html>
