{% extends "chemistryAdmin/base.html" %}
{% load static %}
{% block content %}
<section id="searchsec">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2>Department of Chemistry</h2>
        </div>
        <div class="span6">
          <form class="searchform cf">
            <input type="text" placeholder="you’re looking for?">
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section id="intro">
    <div class="jumbotron masthead">
      <div class="container">
        <!-- slider navigation -->
        <div class="sequence-nav">
          <div class="prev">
            <span></span>
          </div>
          <div class="next">
            <span></span>
          </div>
        </div>
        <!-- end slider navigation -->
        <div class="row">
          <div class="span12">
            <div id="slider_holder">
              <div id="sequence">
                <ul>
                  <!-- Layer 1 -->
                  <li>
                    <div class="info animate-in">
                      <h2>Chemistry Researchers</h2><br>
                      <h3>University Of New Haven</h3>
                      <p>
                        Department of Chemistry
                      </p>
                      <a class="btn btn-success" href="research.html">Learn more &raquo;</a>
                    </div>
                    <img class="slider_img animate-in" src="{% static '/img/slides/sequence/whole_group_photo.jpg' %}" alt="" style="width: 500px; height: 500px; margin-left: 800px;">
                  </li>
                  <!-- Layer 2 -->
                  <li>
                    <div class="info">
                      <h2>Invention</h2>
                      <br>
                      <h3>Join Chemistry Club</h3>
                      <p>
                        University of New haven is offering Masters and Bachelor.
                      </p>
                      <a class="btn btn-success" href="#">Learn more &raquo;</a>
                    </div>
                    <img class="slider_img" src="{% static '/img/slides/sequence/img-1.jpg' %}" alt="" style="width: 500px; height: 500px; margin-left: 800px;">
                  </li>
                  <!-- Layer 3 -->
                  <li>
                    <div class="info">
                      <h2>HOW SOME GUT MICROBES AWAKEN ZOMBIE VIRUSES IN THEIR NEIGHBORS</h2>
                      <br>
                      <h3>Latest technology</h3>
                      <p>
                        Nature has published new research from the Balskus Lab about the effect of colibactin on the microbime. Read more via Howard Hughes Medical Institute.
                      </p>
                      <a class="btn btn-success" href="#">Learn more &raquo;</a>
                    </div>
                    <img class="slider_img" src="{% static '/img/slides/sequence/img-3.png' %}" alt="" style="width: 500px; height: 500px; margin-left: 800px;">
                  </li>
                </ul>
              </div>
            </div>
            <!-- Sequence Slider::END-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span8 features">
          <iframe width="750" height="450" src="https://www.youtube.com/embed/y1yhTh1Qg8o"></iframe><hr>
          <b>
            New Chemistry Graduate Programs (MS and PhD) are now launched at the University of New Haven. The curriculum features with a unique integrative approach, i.e., combining theoretical, computational, and experimental chemistry methods, for the purpose of solving important chemistry challenges such as molecular drug discovery, polymer materials design, catalyst design, and chemical analysis for sustainable environment. Graduates trained by this curriculum can be more competitive in career development.
          </b>
        </div>
        <div class="span3 features">
          <iframe src="https://www.instagram.com/p/CfZ22Uep28_/embed/captioned/?cr=1&amp;v=14&amp;wp=567&amp;rd=https%3A%2F%2Fwww.newhaven.edu&amp;rp=%2F#%7B%22ci%22%3A0%2C%22os%22%3A847.2999999523163%2C%22ls%22%3A266.90000009536743%2C%22le%22%3A545.2000000476837%7D" allowtransparency="true" allowfullscreen="true" frameborder="0" height="600" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="background: white; max-width: 540px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="tagline centered">
            <div class="row">
              <div class="span8">
                <div class="tagline_text">
                  <h2>Update News</h2>
                  <p>
                    New Chemistry Graduate Programs (MS and PhD) are now launched at the University of New Haven. The curriculum features with a unique integrative approach, i.e., combining theoretical, computational, and experimental chemistry methods, for the purpose of solving important chemistry challenges such as molecular drug discovery, polymer materials design, catalyst design, and chemical analysis for sustainable environment. Graduates trained by this curriculum can be more competitive in career development.
                  </p>
                </div>
                <div class="btn-toolbar cta">
                  <a class="btn btn-large btn-color" href="#"><i class="icon-white"></i> Learn More!!! </a>
                </div>
              </div>
              <div class="span3">
                <div class="well">
                  <div class="centered">
                    <h4 class="content-block-title">News Categories</h4>
                    <p><a class="btn" href="https://www.newhaven.edu//news/releases/2022/index.php" title="University News">University News</a></p>
                    <p><a class="btn" href="https://www.newhaven.edu//news/blog/2022/index.php" title="The Charger Blog">The Charger Blog</a></p>
                    <p><a class="btn" href="https://www.newhaven.edu//news/in-the-media/2022/june.php" title="In the Media">In the Media</a></p>
                    <p><a class="btn" href="https://www.newhaven.edu//news/blog/your-charger-connection.php" title="Link to Your Charger Connection news page">Your Charger Connection</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end tagline -->
        </div>
      </div>
      <div class="row">
        <div class="home-posts">
          <div class="span12">
            <h3>Blog posts of UNH</h3>
          </div>
          <div class="span3">
            <div class="post-image">
              <a href="post_right_sidebar.html"><img src="{% static '/img/dummies/blog1.jpg' %}" alt=""></a>
            </div>
            <div class="entry-meta">
              <a href="#"><i class="icon-square icon-48 icon-pencil left"></i></a>
              <span class="date">May 13, 2022</span>
            </div>
            <!-- end .entry-meta -->
            <div class="entry-body">
              <a href="post_right_sidebar.html">
                <h5 class="title">University of New haven</h5>
              </a>
              <p>
                Disscussion on seminar.
              </p>
            </div>
            <!-- end .entry-body -->
            <div class="clear">
            </div>
          </div>
          <div class="span3">
            <div class="post-image">
              <a href="#"><img src="{% static '/img/dummies/blog2.jpg' %}" alt=""></a>
            </div>
            <div class="entry-meta">
              <a href="#"><i class="icon-square icon-48 icon-pencil left"></i></a>
              <span class="date">May 13, 2022</span>
            </div>
            <!-- end .entry-meta -->
            <div class="entry-body">
              <a href="post_right_sidebar.html">
                <h5 class="title">Award winning</h5>
              </a>
              <p>
                University of New haven won chemistry award.
              </p>
            </div>
            <!-- end .entry-body -->
            <div class="clear">
            </div>
          </div>
          <div class="span3">
            <div class="post-image">
              <a href="#"><img src="{% static '/img/dummies/blog2.jpg' %}" alt=""></a>
            </div>
            <div class="entry-meta">
              <a href="#"><i class="icon-square icon-48 icon-facetime-video left"></i></a>
              <span class="date">May 13, 2022</span>
            </div>
            <!-- end .entry-meta -->
            <div class="entry-body">
              <a href="post_right_sidebar.html">
                <h5 class="title">Chemisrty Graduate student celebrations</h5>
              </a>
              <p>
                Enjoyable moment with faculty and students
              </p>
            </div>
            <!-- end .entry-body -->
            <div class="clear">
            </div>
          </div>
          <div class="span3">
            <div class="post-slider">
              <!-- start flexslider -->
              <div class="flexslider">
                <ul class="slides">
                  <li>
                    <a href="post_right_sidebar.html"><img src="{% static '/img/dummies/work1.jpg' %}" alt=""></a>
                  </li>
                  <li>
                    <a href="post_right_sidebar.html"><img src="{% static '/img/dummies/work2.jpg' %}" alt=""></a>
                  </li>
                  <li>
                    <a href="post_right_sidebar.html"><img src="{% static '/img/dummies/work3.jpg' %}" alt=""></a>
                  </li>
                </ul>
              </div>
              <!-- end flexslider -->
            </div>
            <div class="entry-meta">
              <a href="#"><i class="icon-square icon-48 icon-picture left"></i></a>
              <span class="date">May 13, 2022</span>
            </div>
            <!-- end .entry-meta -->
            <div class="entry-body">
              <a href="post_right_sidebar.html">
                <h5 class="title">Gallery of UNH</h5>
              </a>
              <p>
                Award winning program photos slider of UNH.
              </p>
            </div>
            <!-- end .entry-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}