{% extends "chemistryAdmin/base.html" %}
{% load static %}
{% block content %}
================================================== -->
  <section id="subintro">
    <div  class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>University of New Haven | NEWS</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="maincontent">
    <div class="container">
      """<div class="row">
        <div class="span8">
           start article 1 -->
          <article class="blog-post">
            <div class="row">
              <div >
                <iframe width="800" height="370" src="https://youtube.com/embed/Rd4a1X3B61w">
                </iframe>
              </div>
              <h3>asjdghuasgdujagsdh</h3>
              <p>
                Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et mel, gloriatur concludaturque pro no. At ludus mediocritatem
                qui, no vituperata assueverit accommodare his.
              </p>
            </div>
          </article>
          <!-- end article 1 -->
          <!-- start article 2 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">UNIVERSITY NEWS 2022</a></h3><hr>
            </div>
            <div class="row">
              <div class="span3">
                <div class="video-container">
                  <img src="https://www.newhaven.edu/_resources/images/news/non-college-specific/2022/quad-aerial-1.jpg">
                  </img>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li><a href="#">University News</a></li>
                  <li><h3 class="article-title">University of New Haven Announces the Appointment of Steven H. Kaplan as its First Chancellor and CEO; Sheahon Zenger as Interim President</h3></li>
                </ul>
                <div class="clearfix">
                  <p class="article-desc">The University is implementing an innovative leadership transition plan that will enable it to continue to grow, build on the momentum of its rich history of success, and strengthen its position as a financially sound, highly regarded, comprehensive University.</p>
                  <button class="btn btn-small btn-success" type="button">Read more</button>
                </div>
              </div>
            </div>
          </article>
          <!-- end article 2 -->
          <!-- start article 3 -->
          <article class="blog-post">
            <div class="row">
              <div class="span3">
                <div class="video-container">
                  <img src="https://www.newhaven.edu/_resources/images/news/non-college-specific/2022/charger-athletics-center.jpg">
                  </img>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li><a href="#">University News</a></li>
                  <li><h3 class="article-title">University of New Haven Benefactor, Former Student-Athlete Makes $3 Million Gift to Support Charger Athletics</h3></li>
                </ul>
                <div class="clearfix">
                  <p>The transformational gift from Jeffery P. Hazell '83, '10 Hon., a member of the University's Board of Governors, will support the renovation of the university's Charger Gymnasium that will be dedicated in his honor.</p>
                  <button class="btn btn-small btn-success" type="button">Read more</button>
                </div>
              </div>
            </div>
          </article>
          <!-- end article 3 -->
          <div class="pagination">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <div class="centered">
              <h3>BROWSE NEWS & EVENTS</h3><br>
              <ul>
                <li><a href="#">News</a></li>
                <li><a href="#">Upcoming Events</a></li>
                <li><a href="#">Calender</a></li><br>
                <li><a href="#">Seminars</a></li>
              </ul><br>
              <h5>FEATURE YOUR RESEARCH</h5>
              <p>Please contact the graduate program coordinator if you have any questions about the application.</p>
              <p><a href="#">Dequan Xiao</a>, PHD</p>
              <p>Department of Chemistry and Chemical Engineering</p>
              <address>
                West Haven, CT 06516 <br>
                Tel: 203-479-4189 <br>
                Email: dxiao@newhaven.edu <br>

              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 {% endblock content %}